/* main.css */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: transparent;
  /* background-color: rgba(255, 255, 255, 0.3); */
  /* 반투명 배경색 */
  backdrop-filter: blur(10px);
  /* 블러 효과 */
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.sidebar button {
  background-color: transparent;
  /* color: black; */
  color: inherit;
  /* 부모 요소의 색상을 상속받음 */
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  z-index: 1001;
}

.sidebar button:hover {
  border-color: rgb(114, 114, 114);
  border-radius: 10%;
  transform: scale(1.05);
}

.sidebar button:focus {
  outline: none;
}

.sidebar button:active {
  background-color: #eeeeee;
  transform: scale(1);
}